src/obj
src/libs
src/bin
src/gen
config.mk

*.target.mk
*.Makefile
Makefile
tools/*
third_party/*
testing/*
base/*
build/*
gyp-mac-tool
src/supplement.gypi

#Android generated
bin
gen
lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Ant
#build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#Other
.DS_Store
tmp
