voice-client-core/obj
android/voice-client-example/libs
android/voice-client-core/bin
android/voice-client-core/gen
android/voice-client-core/obj
config.mk

*.target.mk
*.Makefile
Makefile
tools/*
third_party/*
testing/*
base/*
build/*
gyp-mac-tool
client/supplement.gypi

#Android generated
bin
gen
lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Ant
#build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

#XCode
webrtcjingle.xcodeproj
xcodebuild

#Other
.DS_Store
tmp
tags
tagindex
