src/obj
src/libs
src/bin
src/gen
src/jni/config.mk

.DS_Store
.project
project.properties
.classpath
.settings/
.cproject
tags

.idea
target
out
classes
*.iml
.svn

*.mk
*.Makefile
Makefile
tools/*
third_party/*
testing/*
base/*
build/*
gyp-mac-tool
src/supplement.gypi
