<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="1"
          android:versionName="1.0"
          package="com.tuenti.voice.example">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-sdk android:minSdkVersion="9"
              android:targetSdkVersion="14"/>

    <application android:label="@string/app_name"
                 android:debuggable="true">
        <activity android:name=".ui.LoginView"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.RosterView"
                  android:excludeFromRecents="true"
                  android:launchMode="singleInstance"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
                  android:exported="false"/>
        <activity android:name=".ui.CallView"
                  android:label="@string/app_name"
                  android:excludeFromRecents="true"
                  android:launchMode="singleInstance"
                  android:screenOrientation="portrait"
                  android:configChanges="orientation|screenSize|keyboardHidden|uiMode"
                  android:exported="false"/>
        <service android:enabled="true"
                 android:exported="false"
                 android:label="TuentiVoiceService"
                 android:process=":VoiceClientService"
                 android:name="com.tuenti.voice.core.service.VoiceClientService">
            <intent-filter>
                <action android:name="com.tuenti.voice.core.service.IConnectionService"/>
                <action android:name="com.tuenti.voice.core.service.IBuddyService"/>
                <action android:name="com.tuenti.voice.core.service.ICallService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
